* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h2 {
  font-size: 2px;
}

p {
  font-size: 12px;
}

div.headers {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

header {
  background-color: #eac926;
  border: 3px solid #eac926;
}

header div.logo,
header .form,
header p {
  width: 33%;
}

header div.logo {
  padding: 10px;
}
header .form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2px;
  font-size: 12px;
}
nav {
  border: 5px solid #eac926;
  text-align: center;
}
header .lista {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  list-style-type: none;
}
header .lista2 {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  padding-left: 10%;
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  padding-right: 15px;
  color: #000;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  text-align: left;
  outline: none;
  color: #666;
  padding: 2px 0px 2px;
}

header .form .submit {
  display: flex;
  display: inline;
  text-align: right;
  background-color: #fff;
  border: 1px transparent;
  padding-left: 90px;
  color: rgb(85, 76, 76);
  width: 10%;
}

div.bars {
  text-align: center;
}

div.bars i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

div.visitas,
div.ofertas {
  display: flex;
  flex-wrap: wrap;
}

.precio {
  font-size: 18px;
  width: 30%;
}

.descuento {
  width: 70%;
}

.descuento,
.descripcion {
  font-size: 16px;
  font-weight: normal;
}

h2 {
  color: #666;
}

.descripcion {
  color: #fff;
  display: none;
  margin-top: 20px;
  transition: all 0.5s;
}
article:hover .descripcion {
  display: block;
  color: gray;
  transition: all 0.5s;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.descuento {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h2 {
  margin: 20px 0px;
}

article div.articulos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

@media (min-width: 361px) {
  main section article .descripcion {
    display: block;
  }
  main section div.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.productos article {
    width: 45%;
  }

  .precio,
  .descuento {
    width: 50%;
  }
}

@media (min-width: 769px) {
  main section div.productos article {
    width: 22%;
  }
}
button {
  background-color: #fff;
}
article:hover .descripcion {
  display: block;
  background-color: transparent;
  transition: all 0.5s;
}
article:hover {
  display: block;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition-property: box-shadow;
  transition: all 0.5s;
}
.enviar:hover {
  background-color: #0022aa;
  opacity: 80%;
  color: white;
  transition: all 0.5s;
}
footer {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #ebebeb;
  background-color: white;
  opacity: 80%;
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}
footer .fin {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.terminos {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 40px;
  width: 380px;
  text-align: center;
}
footer h4 {
  font-weight: bold;
  text-align: center;
}

footer i {
  margin: 2%;
  width: auto;
  height: auto;
  color: rgb(34, 113, 233);
}
i:hover {
  color: #39b54a;
  transition: all 0.5s;
}
.derechos {
  text-align: center;
  line-height: 120px;
  margin: auto;
}
.registrarse {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}
.registro {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
}
.formulario {
  background-color: #ebebeb;
  border: 20px solid #ebebeb;
}
.formulario p,
.formulario .fecha,
.formulario .perfil {
  font-size: 16px;
  font-weight: bold;
}
.formulario input,
.formulario textarea {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  padding: 4px;
}
.formulario textarea {
  height: 120px;
}
.usuario input,
.usuario label,
.intereses input,
.intereses label {
  width: 20%;
  align-items: left;
}

.formulario button {
  justify-content: center;
  justify-content: space-between;
  margin-top: 6%;
  margin-left: 18%;
  width: 25%;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  text-align: center;
}

.formulario a {
  text-decoration: none;
  padding-right: 15px;
  color: #000;
}

input:focus {
  color: black;
  font-weight: bold;
}

input:required:invalid {
  border: 1px solid rgb(161, 4, 4);
}

.inicio {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
  align-items: center;
}
.login button {
  justify-content: center;
  background-color: #0044aa;
  margin-left: -50%;
  margin-top: 2%;
  width: 200%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  color: white;
  text-align: center;
}
.login input {
  border-radius: 8px;
  width: 200%;
  height: 30px;
  margin-bottom: 38px;
  margin-left: -50%;
  padding: 4px;
}

.login a {
  text-decoration: none;
  padding-right: 15px;
  color: white;
}
